.mario {
	position:fixed;
	bottom:32px;
	left:50%;
}
body {
	background-image: url("files/stars.gif");
	background-color:#000;
	text-align:center;
}
.aesthetic2 {
	position:fixed;
	bottom:0px;
}
.link {
	vertical-align: center;
	max-width: 500px;
	outline: 2px outset #eee;
	margin: 20px;
	padding: 5px;
	background-image: linear-gradient(#bbb, #eee);
}
.quote {
	color: white;
	background-image: linear-gradient(#000, #00f);
	max-width: 518px;
}
.logo {
	margin: 10px;
}
p {
	max-width: 200px;
	vertical-align: bottom;
	text-align: center;
	margin: 20px;
	border: 2px outset #eee;
	padding: 5px;
	background-image: linear-gradient(#cecece, #eee);
	outline-color: #000;
}​
